<a href="https://colab.research.google.com/github/minemine0914/ai_learning/blob/main/AI_20220325.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/sp500.csv -O sp500.csv

--2022-03-27 14:08:35--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/sp500.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 83629 (82K) [text/plain]
Saving to: ‘sp500.csv’

sp500.csv           100%[===================>]  81.67K  --.-KB/s    in 0.01s

2022-03-27 14:08:35 (6.09 MB/s) - ‘sp500.csv’ saved [83629/83629]

## 設定 Pandas

In [20]:
# import numpy and pandas
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', True)
pd.set_option('display.max_columns', 500)
pd.set_option('display.max_rows', 999999)
pd.set_option('display.width', 9999)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# read in the data and print the first five rows
# use the Symbol column as the index, and 
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

In [21]:
# create DataFame of random numbers and a key column
np.random.seed(123456)
df = pd.DataFrame({'foo':np.random.random(10000), 'key':range(100, 10100)})
df[:5]

        foo  key
0  0.126970  100
1  0.966718  101
2  0.260476  102
3  0.897237  103
4  0.376750  104

In [22]:
# boolean select where key is 10099
df[df.key==10099]

           foo    key
9999  0.272283  10099

In [23]:
# time the select
%timeit df[df.key==10099]

1000 loops, best of 5: 313 µs per loop

In [24]:
# move key to the index
df_with_index = df.set_index(['key'])
df_with_index[:5]

          foo
key
100  0.126970
101  0.966718
102  0.260476
103  0.897237
104  0.376750

In [25]:
# now can lookup with the index
df_with_index.loc[10099]

foo    0.272283
Name: 10099, dtype: float64

In [26]:
# and this is a lot faster
%timeit df_with_index.loc[10099]

The slowest run took 6.06 times longer than the fastest. This could mean that an intermediate result is being cached.
10000 loops, best of 5: 67.8 µs per loop

In [27]:
# show that the columns are actually an index
temps = pd.DataFrame({ "City": ["Missoula", "Philadelphia"],
                       "Temperature": [70, 80] })
temps

           City  Temperature
0      Missoula           70
1  Philadelphia           80