<a href="https://colab.research.google.com/github/minemine0914/ai_learning/blob/main/AI_20220311.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# 使用 pandas.Series() TETESTST

In [ ]:
obj = pd.Series([4, 7, -5, 3])
obj

0    4
1    7
2   -5
3    3
dtype: int64

## 使用字典資料型態傳入pandas.Series()

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon':16000, 'Utah': 5000}
obj = pd.Series(sdata)
obj

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

## 指定KEY印出DATA

In [ ]:
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon':16000, 'Utah': 5000}
states = ['California', 'Ohio', 'Oregon', 'Texas']
result = pd.Series(sdata, index=states)
result

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

## 將結果(result)的DATA為NULL 使用Boolean表示

In [ ]:
#pd.isnull(result)
result.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

## 將結果(result)的DATA不為NULL 使用Boolean表示

In [ ]:
#pd.notnull(result)
result.notnull()

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

# 使用 pandas.DataFrame()

## 使用字典資料型態傳入pandas.DataFrame()

In [ ]:
data = {
      'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'], 
      'year': [2000, 2001, 2002, 2001, 2002, 2003], 
      'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]
     }
frame = pd.DataFrame(data)
frame

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
5  Nevada  2003  3.2

## 列出前五筆

In [ ]:
frame.head()

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9

## 自訂KEY的順序

In [ ]:
pd.DataFrame(data, columns=['year', 'state', 'pop'])

   year   state  pop
0  2000    Ohio  1.5
1  2001    Ohio  1.7
2  2002    Ohio  3.6
3  2001  Nevada  2.4
4  2002  Nevada  2.9
5  2003  Nevada  3.2

## 指定列出的columns且命名index

In [ ]:
frame2 = pd.DataFrame(data,
            columns=['year', 'state', 'pop', 'debt'], 
            index=['one', 'two', 'three', 'four', 'five', 'six'])
frame2

       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN

## 取得KEY

In [ ]:
frame2.columns

Index(['year', 'state', 'pop', 'debt'], dtype='object')